// colors

$textColor: rgb(30, 30, 30);
$accentColor: rgb(229, 132, 17);

$headerGrayColor: rgb(255, 255, 255);

$textProductTitle: rgb(13, 27, 57);
$textProductSubtitle: rgb(141, 141, 141);


// gap

$g35: 35px;
$g100: 100px;

// font size

$fs14: 14px;
$fs16: 16px;
$fs18: 18px;
$fs20: 20px;
$fs30: 30px;
$fs40: 40px;
$fs50: 50px;
$fs60: 60px;

// line height 

$lh185: 185%;


// font-weight

$fw700:700;
$fw400:400;

// font-family

$fontPoppins: 'Poppins', sans-serif