// colors

$black: #000;
$white: #fff;
$gray: #8794ba;
$pink: #ef2a82;
$light-gray: #f8f9ff;
$bg-dark-blue: #172755;


// gap

$g35: 35px;
$g100: 100px;

// font size

$fs14: 14px;
$fs16: 16px;
$fs18: 18px;
$fs20: 20px;
$fs30: 30px;
$fs40: 40px;
$fs50: 50px;
$fs60: 60px;

// line height 

$lh120: 120%;
$lh140: 140%;
$lh48: 48px;


// font-weight

$fw700:700;