.main-features {
  padding-bottom: 120px;
  
  &__title {
    text-align: center;
    font-size: $fs40;
    font-weight: $fw700;
    line-height: $lh48;
    padding-bottom: 30px;
  }
  
  &__text {
    text-align: center;
    font-size: $fs18;
    color: $black;
    
    padding-bottom: 80px;
    min-width: 1060px;
  }
}

.main-features__advantages {
  display: flex;
  gap: 20px;
  
  &-item {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    
    img {
      width: 60px;
      height: 60px;
      padding-bottom: 30px;
    }
  }
  
  &-title {
    font-weight: $fw700;
    text-align: center;
    padding-bottom: 15px;
    color: $black;
  }

  &-text {
    color: $black;
    max-width: 360px;
    text-align: center;
  }
}